{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Add An Employee </h1>
  <hr>
  <form method="POST">
      {% csrf_token %}
      <label for="fname">First Name</label><br>
      <input type="text" id="fname" name="fname" value="{{ fname }}"><br>
      <label for="lname">Last Name</label><br>
      <input type="text" id="lname" name="lname" value="{{ lname }}"><br>
      <label for="dept">Department</label><br>
      <input type="number" id="dept" name="dept" value="{{ dept }}"><br>
      <label for="salary">Salary</label><br>
      <input type="number" id="salary" name="salary" value="{{ salary }}"><br>  
      <label for="bonus">Bonus</label><br>
      <input type="number" id="bonus" name="bonus" value="{{bonus}}"><br>
      <label for="role">role</label><br>
      <input type="number" id="role" name="role" value="{{ role }}"><br>
      <label for="phone">Phone</label><br>
      <input type="number" id="phone" name="phone" value="{{ phone }}"><br>
      <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

 
 
  <!-- Content here -->
</div>
{% endblock content %}
  